body {
    display: grid;
    place-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 20px;
}

/* ----------------------------------------------------------- */
/* message.html */
/* ----------------------------------------------------------- */
.message-container {
    position: relative;
    width: 100%;
    max-width: 480px;
    height: 200px;
    transform-style: preserve-3d;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
    perspective: 1000px;
}

.message-container p {
    margin: 5px 0;
}

.cardface {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 200px;
    color: #ffffff;
    border-radius: 1vw;
    background-color: #000000;
    box-shadow: 0 4px 4px rgba(68, 68, 68, 0.1), inset 0 1px 3px rgb(255 255 255 / 0.3);
    transition: transform 0.6s;
    backface-visibility: hidden;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.cardface__front {
    transform: none;
}

.is-flipped .cardface__front {
    transform: rotateY(180deg);
}

.cardface__back {
    transform: rotateY(180deg);
    color: #000000;
    background-color: white;
    padding: 10px;
    height: 200px;
    word-wrap: break-word;
    overflow: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.is-flipped .cardface__back {
    transform: rotateY(360deg);
}

/* ----------------------------------------------------------- */
/* main.html */
/* 画像の切り替え */
/* ----------------------------------------------------------- */

.slideshow-container {
    position: relative;
    width: 100%;
    max-width: 480px;
    aspect-ratio: 16 / 9;
    margin: auto;
    overflow: hidden;
    background-color: #dadada;
}

.slideshow-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}

.slideshow-container img.active {
    display: block;
}

.slideshow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.slideshow-button.left {
    left: 10px;
}

.slideshow-button.right {
    right: 10px;
}

/* ----------------------------------------------------------- */
/* main.html */
/* 画像の切り替えのまるポチ */
/* ----------------------------------------------------------- */
.indicator-container {
    text-align: center;
    margin-top: 10px;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: #333;
}

/* ----------------------------------------------------------- */
/* link.html */
/* ----------------------------------------------------------- */
.link-container {
    text-align: center; /* ボタンを中央揃え */
    margin-top: 20px;
    font-size: 12px;
    color: #333;
    border-radius: 5px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.link-container h2 {
    color: #007BFF;
}

.link-container p {
    text-align: cnter;
    font-size: 12px;
    margin: 5px 0;
}

.capture-link {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.capture-link:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.capture-link:active {
    background-color: #003f7f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
}


/* ----------------------------------------------------------- */
/* main.html */
/* notice */
/* ----------------------------------------------------------- */
#notice-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    font-size: 12px;
    color: #333;
    border-radius: 5px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#notice-container p {
    margin: 5px 0;
}
